body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

::-webkit-scrollbar {
    width: 10px;
    height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}